.idea
node_modules
client/vendors

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

!server/public/fonts
server/public/fonts/*
!server/public/images
server/public/images/*
!server/public/javascripts
server/public/javascripts/*
!server/public/stylesheets
server/public/stylesheets/*