<header>
	<div class="container">
		<ul class="application-nav pull-left">
			<li><a href="/dashboard">Home</a></li>
			<li><a href="/openings">Opening</a></li>
			<li><a href="/candidates">Opening</a></li>
			<li><a href="/calendar">Opening</a></li>
		</ul>
		<ul class="user-nav nav nav-pills pull-right">
			<li>Hello <strong class="js-screen-name"> Habib MAALEM</strong></li>
		</ul>
	</div>
</header>